# How to get: https://www.backblaze.com/docs/cloud-storage-create-and-manage-app-keys
B2_KEY_ID=your-key-id
B2_ACCESS_KEY=your-access-key
B2_BUCKET=your-bucket-name
# Can be found in the URL of your bucket
B2_REGION=your-region

ALLOWED_REFERER=yoursite.com
ALLOWED_HEADER=customheader

CACHE_RAM=10m
CACHE_DISK=10g
CACHE_INACTIVITY=1h
CACHE_MAX_AGE=3600

DEBUG_UUID=your-debug-url

MAX_CONNECTIONS_PER_IP=20